
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype') ; /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  color:#707070;
}
.icon-feiyongduoweifenxi:before {
  content: "\e702";
}

.icon-qiehuanyonghu:before {
  content: "\e6c6";
}

.icon-zuzhijiagou:before {
  content: "\e620";
}

.icon-shouyiyulishuai:before {
  content: "\e6a0";
}

.icon-icon-test:before {
  content: "\e61d";
}

.icon-guanliliucheng:before {
  content: "\e61e";
}

.icon-leidatu:before {
  content: "\e8bd";
}

.icon-lishuai:before {
  content: "\e741";
}

.icon-zuzhijiagou1:before {
  content: "\e623";
}

.icon-feiyong:before {
  content: "\e66d";
}

.icon-zhiyeshengyamubiao:before {
  content: "\e7b5";
}

.icon-qiapianxingshi:before {
  content: "\e740";
}

.icon-qiapianxuanze-:before {
  content: "\e61c";
}
.icon-icon_tuijian-xian:before {
  content: "\e65c";
}

.icon-weinituijian:before {
  content: "\e61b";
}

.icon-fenxiang:before {
  content: "\e612";
}
.icon-houtui:before {
  content: "\e613";
}

.icon-houtui1:before {
  content: "\e61a";
}
.icon-xiazai:before {
  content: "\e610";
}

.icon-arrow-down:before {
  content: "\e634";
}

.icon-miaoshu:before {
  content: "\e61f";
}
.icon-luoxini:before {
  content: "\e627";
}
.icon-nv1:before {
  content: "\e62d";
}

.icon-nan:before {
  content: "\e626";
}

.icon-tongji:before {
  content: "\e60d";
}
.icon-qianke:before {
  content: "\e6cf";
}

.icon-diaopaijia:before {
  content: "\e62b";
}

.icon-shoujia:before {
  content: "\e628";
}
.icon-bancishezhi:before {
  content: "\e63b";
}
.icon-woshou1:before {
  content: "\e73f";
}

.icon-woshou:before { content: "\e618"; }
.icon-nianling:before {
  content: "\e65b";
}
.icon-dizhi:before { content: "\e63e"; }

.icon-yuanquan:before { content: "\e66a"; }

.icon-gouxuan:before { content: "\e649"; }

.icon-daohang:before { content: "\e616"; }

.icon-dianhua:before { content: "\e617"; }

.icon-gouwuche:before { content: "\e726"; }

.icon-ziliao:before { content: "\e67e"; }

.icon-jindutiao:before { content: "\e727"; }

.icon-jindu:before { content: "\e63c"; }

.icon-youhuiquan:before { content: "\e600"; }

.icon-shouji:before {
  content: "\e603";
}
.icon-shoubiao:before {
  content: "\e604";
}
.icon-jiaoyijilu:before { content: "\e609"; }

.icon-youhuiquan2:before { content: "\e664"; }

.icon-dingdan:before { content: "\e65a"; }

.icon-huiyuanqia:before { content: "\e647"; }

.icon-gerenzhongxin:before { content: "\e60f"; }

.icon-jindutiao1:before { content: "\e690"; }

.icon-jindu1:before { content: "\e651"; }

.icon-jifenshangcheng:before { content: "\e606"; }

.icon-gerenzhongxin1:before { content: "\e669"; }

.icon-huiyuanquanyi:before { content: "\e6e5"; }

.icon-zanwuxinxi:before { content: "\e7b4"; }

.icon-wangguan:before { content: "\e607"; }

.icon-sousuo:before { content: "\e831"; }

.icon-aiguifanfile:before { content: "\e608"; }

.icon-qianbi:before { content: "\e60a"; }

.icon-xiaotuziCduan_:before { content: "\e60c"; }

.icon-jiarugouwuche:before { content: "\e85d"; }

.icon-duihao1:before { content: "\e60b"; }

.icon-guanbi:before { content: "\e642"; }

.icon-shanchu:before { content: "\e66b"; }

.icon-jifenshangcheng1:before {
  content: "\e65f";
}




